.summary-box {
  width: 30vw;
  height: 16vh;
  background-color: #eaf5f1;
  margin: 20px;
  display: flex;
  font-size: 2rem;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;

  .summary-counted {
    font-size: 4rem;
    font-weight: bolder;
  }
  .summary-description {
    padding: 1rem;
    font-weight: lighter;
  }
}
.summary-confirmed {
  background-color: rgba(#1096DE, 0.2);
}
.summary-recovered {
  background-color: rgba(#10A11A, 0.2);
}
.summary-existing {
  background-color: rgba(#ff7700, 0.2);
}
.summary-deaths {
  background-color: rgba(#DE3618, 0.2);
}

@media screen and (max-width: 420px) {
  .summary-box{
    width: 28vw;
    height: 14vh;
    padding: 2rem;
    margin: 5px;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
    .summary-counted{
      font-size: 2rem;
    }
    .summary-description{
      padding: 0.3rem;
    }
  }
}