.summary-box {
  width: 30vw;
  height: 16vh;
  background-color: #eaf5f1;
  margin: 20px;
  display: flex;
  font-size: 2rem;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;

  .summary-counted {
    font-size: 4rem;
    font-weight: bolder;
  }
  .summary-description {
    padding: 1rem;
    font-weight: lighter;
  }
}
.summary-deaths {
  background-color: #ffe3e2;
}
