.mixed-chart{
    width: 50vw;
    color: black;

    border-bottom: 3px solid #06090f;
    border-top: 3px solid #06090f;


    @media screen and (max-width: 420px) {
        width: 100vw;
    }

    @media screen and (min-width: 421px) and (max-width: 900px) {
        width: 65vw;
    }

    svg text {
        fill: white;
    }



    .apexcharts-legend-text{
        color: blue;
    }
}