.header {
  position: fixed;
  width: 45vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1.5rem;
  color: white;
  background-color: #0d1117;
  z-index: 3;
  font-weight: bold ;

  .header-title {
    width: 35%;
  }

  .header-deaths,
  .header-existing,
  .header-confirmed,
  .header-recovered {
    color: white;
    width: 15%;
    text-align: center;
  }
  .header-confirmed{
    padding-left: 10px;
  }
  .header-recovered{
    padding-left: 30px;
  }
  .header-existing {
    padding-left: 15px;
  }

  .header-deaths {
    padding-left: 15px;
  }
}

.open-card {
  top: 200px;
  height: 55vh;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
  position: absolute;
  z-index: 99;
  overflow-x: hidden;
}

.regions-container {
  width: 45vw;
  display: flex;
  position: relative;
  top: 70px;
  flex-direction: row;
  justify-content: flex-start;
  height: 5vh;
  color: white;
  overflow: hidden;
  padding: 1.5rem;
  border-bottom: 1px solid grey;
  background-color: #0d1117;
}

.region-title {
  width: 40%;
}

.region-confirmed {
  color: #1096de;
  width: 15%;
}
.region-recovered {
  width: 10%;
  text-align: center;
  color: #40c463;
}
.region-existing {
  color: #ff7700;
  margin-left: 25px;
  text-align: center;
  width: 15%;
}
.region-deaths {
  width: 15%;
  text-align: center;
  color: #de3618;
  
}
