.home-page {
  .home-page__data-container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .home-page__chart-and-summary-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
  }
}

.buttons-container {
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #eaf5f1;
  font-size: 1.3rem;
  margin-bottom: 40px;
  .button-container {
    background-color: #0d1117;
    color: white;
    width: 18vw;
    height: 10vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border: 3px solid black;
    &:hover {
      color: black;
      background-color: white;
    }
  }
  .second-button {
    margin-left: 30px;
  }
}

@media screen and (max-width: 420px) {
  .home-page {
    height: auto;
    min-height: 100vh;
    .home-page__chart-and-summary-container {
      flex-direction: column;
      align-items: center;
    }
    .buttons-container {
      width: 100vw;
      margin: 30px 0;
      font-size: 1rem;
      justify-content: space-between;
      .button-container {
        width: 40vw;
      }
      .second-button {
        margin-left: 0px;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .home-page {
    height: auto;
    min-height: 100vh;
    .home-page__data-container {
      height: 50%;
      margin-top: 20px;
    }
    .home-page__chart-and-summary-container {
      margin-top: 10px;
    }
    .buttons-container {
      width: 100vw;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      .button-container {
        margin: 15px 0 0 15px;
        width: 35vw;
        height: 5vh;
        padding: 1em;
      }
    }
  }
}

@media screen and (min-width: 421px) and (max-width: 1200px) {
  .home-page {
    height: auto;
    min-height: 100vh;
    .home-page__data-container {
      height: 100%;
      margin-top: 20px;
    }
    .home-page__chart-and-summary-container {
      margin-top: 10px;
    }
    .buttons-container {
      height: 25vh;
      margin: 0;
      padding: 0;
      width: 100vw;
      justify-content: space-evenly;
      align-items: center;
      .button-container {
        width: 30vw;
        height: 5vh;
        padding: 1em;
      }
    }
  }
}
