.Home {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #161b22;
  overflow-y: hidden;
  overflow-x: hidden;

  @media screen and(max-width: 420px) {
    height: auto;
  }

  @media screen and (min-width: 421px) and (max-width: 900px) {
    height: 100vh;
  }

  .blured {
    filter: blur(2px);
  }

  .title {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;

    .title-text {
      margin-left: 25px;
    }

    @media screen and (max-width: 420px) {
      margin-top: 20px;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 90vw;

      .title-text {
        text-align: center;
      }
    }
    @media screen and (min-width: 421px) and (max-width: 900px) {
      margin-top: -150px;
    }
  }

  .button-container {
    background-color: #0d1117;
    color: white;
    width: 15vw;
    height: 8vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    cursor: pointer;
    text-decoration: none;

    &:hover {
      background-color: #40c463;
    }

    &.active {
      background-color: red;
    }
  }

  .main-container {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media screen and (min-width: 421px) and (max-width: 900px) {
      height: 50%;
      margin-top: 20px;
    }
  }

  .chart-and-summary-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    @media screen and (max-width: 420px) {
      flex-direction: column;
    }

    @media screen and (min-width: 421px) and (max-width: 900px) {
      margin-top: 10px;
    }
  }
}

.buttons-container {
  width: 45vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  @media screen and (max-width: 420px) {
    width: 95vw;
    margin-bottom: 20px;
    .button-container {
      width: 40vw;
      text-align: center;
      padding: 0.5rem;
    }
  }

  @media screen and (min-width: 421px) and (max-width: 900px) {
    width: 65vw;
    .button-container {
      width: 25vw;
      height: 5vh;
      padding: 1em;
    }
  }
}
.app-map {
  position: fixed;
  top: 200px;

  z-index: 33;
}
