.summary-box{
    width: 200px;
    height: 100px;
    color: white;
    text-align: start;
    padding-left: 2rem;

    .text-icon{
        margin-left: 10px;
    }

    .counted{
        padding-left: 2rem;
        text-align: start;
    }

    @media screen and (max-width: 420px) {
        padding-left: 0;
        width: 170px;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .text-icon{
            margin: 0;
        }

        .counted{
            padding: 0;
            margin-top: -20px;
        }
    }
}

.summary-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    height: 500px;
    background-color: #06090f;


    @media screen and (max-width: 420px) {
        flex-direction: row;
        flex-wrap: wrap;
        height: 50vh;
    }
}

.recovered{
   color: #40c463;
}

.deaths{
    color: #DE3618;
}

.confirmed{
    color: #1096DE;
}

.existing{
    color: #ff7700;
}